#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage{
  flex-grow: 1;
}

.bg-green{
  background: #003c25;
}

.imgError{
  width: 100%;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .imgError{
    width: 75%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .imgError{
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .imgError{
    width: 35%;
  }
}