#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage{
  flex-grow: 1;
}

.bg-green{
  background: #003c25;
}

.text-green{
  color: #003c25;
}

.imgError{
  width: 100%;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .imgError{
    width: 75%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .imgError{
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .imgError{
    width: 35%;
  }
}

.card-img-top-nueva {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Borro las flechas en input tipo number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}